.App{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0B2838, white);
    background-size: cover;
    background-repeat: no-repeat;

}